body {
    background-color: #f0f0f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5ff;
}

.Main div#Predgovor_priz {
    padding: 10px;
    width: 45%;
    font-family: "Poppins", sans-serif;
    font-weight: light;
    box-shadow: 
        -10px -10px 30px #FFFFFF,
        10px 10px 30px rgba(174, 174, 192, 0.4),
        inset -10px -10px 10px rgba(174, 174, 192, 0.25),
        inset 10px 10px 10px #FFFFFF;
}

#GalSl1 {
    display: inline-block;   /* makes the whole div shrink to its content */
    text-align: center;      /* optional: centers images inside if needed */
}

#GalSl1 img {
    width: 15%;
    display: inline-block;   /* images stay next to each other */
}

#rcztSLika {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Main {
    font-family: "Poppins", sans-serif;
    font-weight: light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer {
    width: auto;
}