.cardHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    justify-content: center;
    margin: auto;
    width: fit-content;
}

.cardHolder .card {
    width: clamp(4rem, 10vw, 20rem);
    padding: 10px;
    border-collapse: collapse;
    display: block;
    margin: 10px;   
    margin-right: 0%;
    font-family: Arial, sans-serif;
    overflow: hidden;
    cursor: pointer;
}

.cardHolder .card:hover {
    background: linear-gradient(to bottom, #7874bb, #f5f5ff);
}

#ShowcaseContainer .cardHolder .card:hover {
    background: linear-gradient(to bottom, #f5f5ff, #000000);
}

.cardHolder .card #thumbnail {
    width: 8vw;
    height: 5vw;
    margin: auto;
    display: block;
    object-fit: cover;
}

.cardHolder .card #link {
    text-decoration: none;
    text-align: center;
    font-family: HaasGroteskBold;
    margin: auto;
    color: black;
    pointer-events: none;
}

#ShowcaseContainer .card #link {
    color: white;
}

@media (max-width: 768px) {
    .cardHolder .card {
        mask: linear-gradient(to right, black 60%, transparent 100%);
    }

    .cardHolder .card #link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }
}